#resources{
    margin-top: 30px;
}

#resources p{
    font-size: 1.1rem;
    text-align: justify;
    color: #77BB3F;
    
}

#description{
    font-size: 1rem !important;
    
}


#resources a{
    text-align: justify;
    text-decoration: none;
    font-size: 1.3rem;
    color: #326608;
}

/* .relative{
    border: 1px solid #326608;
    padding: 5px;
} */

#read{
    font-size: 1rem !important;
    font-weight: bold;
    color: #326608;
}

#read:hover{
    font-size: 1.3rem !important;
    font-weight: bold;
    color: #c6fa0a;
}